body{
	background-color: #003300;
}
#gamebody{
	margin: 50px;
	position: relative;
	height:  484px;
	width: 984px;
	border:20px solid #B89300;
	background-color: black;
	text-align: center;
	box-shadow: 0px 0px 0px 3px #ffffff;
}

.tank_body{
	position: relative;
	clear: both;
	display: block;
	margin:5px;
	height: 65px;
	width: 50px;
	border: 2px solid #ffffff;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}

.player{
	background-color: #47B547;
}

.enemy{
	background-color: #224455;
}

.tank_mouth{
	position:relative;
	display: block;
	position: relative;
	margin-top: -50px;
	margin-left: 35px;
	height: 20px;
	width: 30px;
	border: 1px solid #ffffff;
	border-right: 5px solid #0000ff;
	border-radius: 5px;
}

.bullet{
	float: left;
	display: block;
	position: absolute;
	height: 10px;
	width: 15px;
	background-color: #ffffff;
	border-top-right-radius: 100%;
	border-bottom-right-radius: 100%;
	box-shadow: -7px 0px 5px 0px blue;
}	
.rotatedown{
	 -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotateleft{
	 -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rotatetop{
	 -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.rotateright{
	 -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}