#gamebody{
	position: relative;
	height:  580px;
	max-width: 100%;
	border:10px solid brown;
	background-color: #ff9933;
	text-align: center;
}

#tank{
	position: relative;
	clear: both;
	display: block;
	margin: 5px;
	height: 65px;
	width: 50px;
	border: 2px solid black;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}

.player{
	background-color: green;
}

.enemy{
	background-color: #224455;
}

#mouth{
	display: block;
	position: relative;
	margin-top: 20px;
	margin-left: 35px;
	height: 20px;
	width: 30px;
	border: 1px solid black;
	border-right: 5px solid red;
	border-radius: 5px;
}

#bullat{
	margin-top: -23px;
	margin-left: 50px;
	display: block;
	height: 20px;
	width: 20px;
	border: 2px solid brown; 
	border-radius: 10px;
}

.rutatedown{
	 -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rutateleft{
	 -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rutatetop{
	 -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.rutateright{
	 -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}